DP-SGD/resnet_imagenet_sketch/data/*
DP-SGD/resnet_imagenet_sketch/temp/*
DP-SGD/mobilenet_cifar10/temp/*
DP-SGD/resnet_mnist/data/*
DP-SGD/resnet_mnist/temp/*
DP-SGD/.DS_Store
.DS_Store
DP-SGD/CLIPcifar10/.tmp.driveupload/*
DP-SGD/CLIPcifar10/.tmp.drivedownload/*
DP-SGD/CLIPcifar10/data/*
DP-SGD/CLIPcifar10/checkpoint/*
DP-SGD/CLIPcifar10/__pycache__/*
DP-SGD/NormaLcifar10/temp/*
DP-SGD/NormaLcifar10/data/*
DP-SGD/NormaLcifar10/.tmp.driveupload/*
DP-SGD/NormaLcifar10/.tmp.drivedownload/*
