DP-SGD/resnet_imagenet_sketch/data/*
DP-SGD/resnet_imagenet_sketch/temp/*
DP-SGD/mobilenet_cifar10/temp/*
DP-SGD/resnet_mnist/data/*
DP-SGD/resnet_mnist/temp/*
DP-SGD/.DS_Store
.DS_Store
DP-SGD/MOCOcifar10(old)/.tmp.driveupload/*
DP-SGD/MOCOcifar10(old)/.tmp.drivedownload/*
DP-SGD/MOCOcifar10/.tmp.driveupload/*
DP-SGD/MOCOcifar10/.tmp.drivedownload/*
DP-SGD/MOCOcifar10(old)/data/*
DP-SGD/MOCOcifar10(old)/checkpoint/*
DP-SGD/MOCOcifar10(old)/__pycache__/*
DP-SGD/MOCOcifar10/data/*
DP-SGD/MOCOcifar10/models/checkpoint/*
DP-SGD/MOCOcifar10/__pycache__/*
DP-SGD/MOCOcifar10/models/__pycache__/*
DP-SGD/MOCOcifar10/test/__pycache__/*
DP-SGD/NormaLcifar10/temp/*
DP-SGD/NormaLcifar10/data/*
DP-SGD/NormaLcifar10/.tmp.driveupload/*
DP-SGD/NormaLcifar10/.tmp.drivedownload/*
